@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-size: 24px;
}

#app {
  width: 500px;
  height: 300px;
  border-radius: 15px;
  padding: 100px;
  box-shadow: 15px 15px rgb(146, 132, 132);
}

li:hover {
  background-color: aquamarine;
  cursor: pointer;
}

li:nth-child(odd) {
  background-color: blue;
}
